<article class="tempkilo-post">
  <div class="post-header">
    <div class="profile-picture"></div>
    <div ><h2 class="name">name</h2></div>
  </div>
  <div class="comment-box">

  </div>
  <div class="comments">
    <div class="comment">

    </div>
  </div>
  <form class="comment-input">
    <textarea></textarea>
  </form>
</article>