<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <%= javascript_include_tag "/assets/javascripts/infinite-scroll.js" %>
  <title>Metube</title>
</head>

<body id="tempkilo-body">

<div id="tempkilo-header">
  <div id="header-content">
    <div id="logo">
        <span class="glyphicon glyphicon-film"></span>
    </div>
    <div id="search">

    </div>
    <div id="icons">
      <span class="glyphicon glyphicon-compass"></span>
      <span class="glyphicon glyphicon-heart"></span>
      <span class="glyphicon glyphicon-user"></span>
    </div>
  </div>
</div>

<div id="tempkilo-content">
  <div id="post-feed">
    <% for i in 1..10 %>
      <%= render "tempkilo/image_post" %>
      <% end %>
  </div>
  <div id="story-box">
    <div id="friend-feed">
      <div id="current-user">
        <h3 class="username"> <%= Faker::Zelda.character %></h3>
      </div>
      <div id="friend-stories">
          <% for i in 1..40 %>
          <div>
              <span class="glyphicon glyphicon-user"></span><h3 class="username"> <%= Faker::Zelda.character %></h3>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

</body>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</html>