<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>Webfliks</title>
</head>

<body id="webfliks-body">
<div id="webfliks-nav">
  <div id="topnav-left">
    <a>Home</a>
    <a>TV Shows</a>
    <a>Movies</a>
    <a>About</a>
  </div>
  <div id="topnav-right">
    <a><span class="glyphicon glyphicon-search"></span></a>
    <a>Kids</a>
    <a>DVD</a>
    <a><span class="glyphicon glyphicon-bell"></span></a>
  </div>
  <div class="clear"/>
</div>
<div id="webfliks-content">
  <% for i in 1..10 %>
    <div id="carousel">
      <div class="carousel-button right">
      </div>
      <h2><%= Faker::Lorem.sentence(rand(2..5)).chomp('.') %></h2>
      <div class="card-container">
        <% for i in 1..10 %>
          <div class="carousel-card">
            <img src="<%= Faker::LoremFlickr.image("270x150", [@image_keywords.sample]) %>">
            <div class="card-text">
              <h3><%= Faker::Lorem.sentence(rand(2..5)) %></h3>
              <p><%= Faker::Lorem.paragraph(rand(5..15)) %></p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="carousel-button left">
      </div>
    </div>
  <% end %>
</div>
</body>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</html>