<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>GetHub</title>
</head>

<body id="gethub-body">

  <div id="gethub-header">
    <div id="navbar-container">
      <div id="nav-bar">
        <div class="search">
          <div class="input-group ">
            <input type="text" class="form-control" id="gaggle-search" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-itallic"></span></span>
          </div>
        </div>
        <h2>Pull Requests</h2>
        <h2>Issues</h2>
        <h2>MarketPlace</h2>
        <h2>Explore</h2>
      </div>
      <div id="icon">
        <span class="glyphicon glyphicon-bell"></span>
        <span class="glyphicon glyphicon-user"></span>
        <span class="glyphicon glyphicon-plus"></span>
      </div>
    </div>
  </div>

<div id="gethub-container">
  <div id="gethub-sidebar">
    <%= render "gethub/user_sidebar" %>
  </div>
  <div id="gethub-content">
    <div id="gethub-info-box">

    </div>
    <div id="gethub-feed">
      <% for i in 1..10 %>
        <%= render "gethub/feed_posts" %>
      <% end %>
    </div>
    <div id="more-button"></div>
  </div>
  <div id="gethub-footer">
  </div>
</div>

</body>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</html>