// Place all the styles related to the gaggle controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gaggle-nav-grey: #f9f9f9;
$gaggle-nav-border: #EBEBEB;


#gaggle-body{
  padding: 0px !important;
}


#headbox {
  width: 100%;
  height: 112px;
  background-color: $gaggle-nav-grey;
  border-bottom: 1px solid $gaggle-nav-border;
  position: relative;

  #gaggle-search.form-control {
    border-right: 0px solid white;
    height: 50px;
    border-radius: 3px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }

  #basic-addon2.input-group-addon{
    background-color: white;
    border-left: white;
  }



  nav {
    position: relative;
    bottom: 0;
    display: block;
    vertical-align: middle;
    height: auto;

    a {
      height: 30px;
      color: #646464;
      padding-left: 10px;
      padding-right: 10px;
      display: inline-block;
      float: left;
    }
    a:hover {
      border-bottom: 5px solid #175ae2;
      color: #175ae2;
      text-underline: none;
      text-decoration: none;
    }
  }
}


#content{
  height: 20px;
  background-color: white;
  width: 100%;
  display: block;
}

#footer {
  width: 100%;
  height: 100px;
  background-color: $gaggle-nav-grey;
  border-top: 1px solid $gaggle-nav-border;
  position: relative;
  bottom: 0px;

  nav {
    position: relative;
    top: 0;
    display: block;
    vertical-align: middle;

    a {
      height: 30px;
      color: #646464;
      padding-left: 10px;
      padding-right: 10px;
      display: inline-block;
      float: left;
    }

    a:hover {
      text-decoration: none;
    }
  }
}

#user-nav{
  padding-top:20px;
  width: 100%;
  height:auto;

  #top-nav {
    height: auto;
  }

  .logo {
    float: left;
    height: 40px;
    margin-left: 35px;
  }

  .input-group {
    width: 640px;
    margin-left: 30px;
    float: left;

    .glyphicon {
      color: blue;
    }

  }

  #logged-in-options{
    float: right;
    bottom: 0;

    .glyphicon {
      font-size: 20px;
      margin-top: 10px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

.bottom-nav {
  padding-left: 156px;
  width: 800px;
  height:30px;
  position: absolute;
  bottom: 0;

  #search-options{
    float: left;
    bottom: 0;
  }

  #bottom-search-options{
    padding: 0;
    margin: 0;
    height: 30px;

    nav {
      padding: 0px;
      margin: 0px;
      min-height: 0px !important;
    }
  }

  #search-settings{
    float: right;
    bottom: 0;
  }
}

#content {
  width: 1000px;
  padding-top: 10px;
  padding-left: 165px;
  height:auto;

  #query-stats{
    color: lightslategrey;
    font-size: 14px;
  }

  .post {
    width: 600px;
    height: auto;
    font-family: arial,sans-serif;
    h3{
      font-size: 16px;
      margin-bottom: 0px;
      a {
        color: #13009B;
        cursor: pointer;
      }
    }

  }
}

.clear {
  clear: both;
}
