// Place all the styles related to the gethub controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gethub-grey-border: lightgrey;
$gehub-dark-grey: darkgrey;
$gehub-dark-grey: #9E9E9E;
$gethub-off-grey: #434348;
$gethub-more-blue: blue;
$gethub-light-grey: #f9f9f9;

a{
  //Remember to make a global file for this.
  cursor: pointer;
}

body #gethub-body{
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

#gethub-header{
  background-color: #000;
  height: 60px;

  #navbar-container{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    height: 100%;

    #site-logo{
      width: auto;
      color: white;
      display: flex;
      justify-content: center;

      .logo{
        height: 60px;
        width: 60px;
      }
    }

    #nav-bar{
      flex: 8;
      display: flex;
      justify-content: center;
      height: 100%;

      h2{
        display: inline-block;
        margin: 0 0 0 15px;
        padding-top: 20px;
        color: white;
        font-size: 16px;
        height: auto;
      }

      div.search{
        width: 50%;
        display: inline-block;
        padding-top: 13px;
        height: auto;

        input{
          background-color: $gethub-off-grey;
          color: white;
          border: none;
        }

        .input-group-addon{
          background-color: $gethub-off-grey;
          border: none;
          span {
            color: white;
          }
        }
      }
    }

    #icon{
      color: white;
      font-size: 20px;
      padding-top: 15px;
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
  }

}


#gethub-container{
  width: 1000px;
  display: flex;
  padding-top: 20px;
  margin: 0 auto;
  #gethub-sidebar {
    flex: 1;
    margin-right: 30px;

    #identity-box{
      margin-bottom: 10px;
    }


    .sidebar-box{
      border: 1px solid $gethub-grey-border;
      margin: 10px 0 10px 0;

      .box-content{
        padding: 20px;
        input{
          margin-bottom: 10px;
        }

        a {
          margin:  0 5px 0 5px;
        }
      }

      .box-header{
        border-bottom: 1px solid $gethub-grey-border;
        padding: 10px;
        background-color: $gethub-light-grey;

        h3{
          margin: 0;
          color: $gethub-off-grey;
          font-size: 16px;
          font-family: Helvetica;
          font-weight: bold;
        }
      }
    }

    #repositories{

    }

    #teams{

    }
  }

  #gethub-content {
    flex: 2;
    height: auto;
    #more-button{
      width: 100%;
      border: 1px solid $gethub-grey-border;
      text-align: center;
      color: $gethub-more-blue;
      padding: 10px;
      height: 37px;
    }

    #more-button:hover{
      background-color: $gethub-light-grey;
      cursor: pointer;
    }


    #gethub-feed{
      width: 100%;
      padding: 10px;

      .feed-post{
        display: flex;
        padding: 10px;
        margin: 10px 0 10px 0;
        border-bottom: 1px solid $gethub-grey-border;

        .picture-container{
          font-size: 26px;
          margin-right: 16px;
        }

        .commit-summary{
          width: 100%;

          .more-commits{
            color: $gehub-dark-grey;
            cursor: pointer;
          }

          .commit-messages {
            margin-top: 8px;
            border: 1px solid $gethub-grey-border;
            padding: 10px;
            border-radius: 4px;
            span {
              margin:  0 5px 0 5px;
            }
          }
        }
      }
    }
  }
}