// Place all the styles related to the gethub controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gehub-grey-border: grey;


body #gethub-body{
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}

#gethub-header{
  background-color: #000;
  height: 60px;
  display: flex;
}


#gethub-content{
  width: 1000px;
  display: flex;
  padding-top: 20px;

  #gethub-sidebar {
    flex: 1;

    #identity-box{
    }

    #repositories{
      padding: 10px;
      border: 1px solid $gehub-grey-border;
    }

    #teams{
      border: 1px solid $gehub-grey-border;
      padding: 10px;
    }
  }

  #gethub-feed {
    flex: 2;
    height: auto;
  }
}