// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

body #home-body{
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  padding-bottom: 5px;
  text-align: center;
}

.filled {
  background-color: lightgreen;
}

#gallery {
  div {
    text-align: center;
    padding: 10px;
  }

  h2{
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    color: #2E2F30;
    margin-top: 5px;
  }

  .img-thumbnail{
    width: 250px;
    height: 250px;
  }
}

