// Place all the styles related to the metube controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

#loading{
  width: 120px;
  height: 120px;
}

#metube-body{
  padding-top: 15px;
}

#metube-header{
  width: 100%;

  span{
    font-size: 25px;
    margin-right: 15px;
  }

  #left-icons {
    display: block;
    float: left;
    margin-left: 20px;

    h2 {
      font-family: "Nanum Gothic";
      display: inline-block;
      margin: 0;
      vertical-align: middle;
      font-weight: bold;
      font-size: 22px;
    }

    img {
      display: inline-block;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
  #right-icons{
    display: block;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    top: 50%
  }

  #search-bar{
    margin: 0 auto;
    display: block;
    width: 500px;
  }
}

#metube-content{
  margin-top: 15px;
  #content-container{
    width: 1000px;
    margin: 0 auto;
    height: auto;

    #ad-box{
      float: right;
      width: 35%;
    }

    #video-box{
      float: left;
      width: 65%;
      padding: 10px;
    }

    #metube-comments{
      float: left;
      width: 65%;
      margin-bottom: 10px;
      height:auto;

      .comment{
        height:100%;
        position: relative;

        .avatar-thumbnail{
          display: inline-block;
          vertical-align: top;
        }

        .comment-box{
          .username{
            font-weight: bold;
          }

          display: inline-block;
          margin-left: 10px;
          min-height: 90px;
          width: 80%;
        }
      }
    }

    #recommended-box{
      float: right;
      width: 35%;

      .rec-video{
        margin-bottom: 12px;


        img{
          display: inline-block;
          margin-right: 10px;
        }

        .rec-video-info{
          display: inline-block;

          h5.tittle {
            margin: 0;
            font-size: 13px;
          }

          .username{
            display: block;
            color: gray;
          }

          .views{
            display: inline-block;
            color: gray;
          }

          h5{
            font-size: 12px;
            font-weight: bold;
          }
        }
      }
    }
  }
}