// Place all the styles related to the rikipeida controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$rikipeida-grey: #f6f6f6;
$rikipeida-dark-grey: #aaaaaa;
$rikipeida-article-blue-border: #a7d7f9;
#rikipeida-body{
  width: 100%;
  height: auto;
  display: flex;
}

#rikipeida-nav{
  width: 180px;
  background-color: $rikipeida-grey;
  height:auto;
  padding: 30px;

  #rikipeida-logo{
    width: 150px;
  }

  #rikipeida-logo-text{
    width: 120px;
    margin-bottom: 40px;
  }

  ul{
    list-style: none;
    padding: 0;
    margin: 15px 0 15px 0;

    li {
      font-size: 12px;
    }

    .header{
      border-bottom: 1px solid grey;
      color: black;
    }
  }
}

#rikipeida-content{
  width: 100%;
  height: auto;

  .pright{
    float: right;
    clear: right;
  }

  #rikipeida-top-nav{
    width: 100%;

    .selected{
      z-index: 100;
      border-bottom: 1px solid white;
      border-left: 1px solid $rikipeida-article-blue-border;
    }

    .content-nav {
      padding: 0;
      margin-bottom: -1px;
      li {
          border-top: 1px solid $rikipeida-article-blue-border;
          border-right: 1px solid $rikipeida-article-blue-border;
          color: blue;
          padding: 10px;
      }
    }

    #nav-left{
      float: left;
      li{
        float: left;
        display: block;
      }
    }

    #nav-right{
      float: right;
      li{
        float: right;
        display: block;
      }

      li:last-child{
        border-left: 1px solid $rikipeida-article-blue-border;
      }
    }
   }

  #article-container{
    display: block;
    padding: 20px;
    height: auto;
    width: 100%;
    border: 1px solid $rikipeida-article-blue-border;

    h1{
      border-bottom: 1px solid $rikipeida-dark-grey;
      font-family: sans-serif;
      font-size: 29px;
      margin-bottom: 20px;
    }

    h2{
      font-family: Georgia sans-serif;
      font-size: 21px;
      border-bottom: 1px solid $rikipeida-dark-grey;
    }
    p{
      font-family: sans-serif;
      font-size: 14px;
    }
    .card{
      margin: 0 0 0 10px;
      border: 1px solid $rikipeida-dark-grey;
      background-color: $rikipeida-grey;
      width: 300px;
      height: auto;
      float: right;
      padding: 10px;
    }
  }
}