// Place all the styles related to the tempkilo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tempkilo-body{
  width: 100%;
  margin: 0;
  padding: 0;

}


#tempkilo-header{
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  border: 1px solid black;

}

#tempkilo-content{
  width: 1300px;
  min-height: 50px;
  height: auto;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid black;

  #post-feed {
    width: 620px;
    .tempkilo-post {
      border: 1px solid black;
      height: auto;
      min-height: 600px;
      width: auto;

      .glyphicon {
        display: inline-block;
      }

      .pic {
        width: 620px;
        height: 620px;
        background: darkgray; // This is a filler
      }

      .comment-box {
        height: auto;
        border: 1px solid black;
        min-height: 170px;
        padding: 10px 10px 0 10px;

        .glyphicon{
          font-size: 22px;
        }

        .likes{
          font-weight: bold;
          display: block;
        }

        .username{
          font-weight: bold;
        }

        .time-ago{
          color: darkgrey;
        }

        .comments{
          margin: 0 0 5px 0;

          .comment {
              display: block;
          }
        }

        textarea{
          width: 100%;
          border: 0;
          margin: 0 auto;
          margin-top: 10px;
          padding-top: 10px;
          resize: none;
          display: block;
          border-top: 1px solid grey;
        }
      }
    }
  }
}